<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <ion-item>
  <ion-label>Weight</ion-label>
  <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
 </ion-item>
 <ion-item>
  <ion-label>Gender</ion-label>
  <ion-select [(ngModel)]="gender">
    <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
  </ion-select>
 </ion-item>
 <ion-item>
  <ion-label>Time in hours</ion-label>
  <ion-select [(ngModel)]="time">
    <ion-select-option *ngFor="let value of times">{{value}}</ion-select-option>
  </ion-select>
 </ion-item>
 <ion-item>
  <ion-label>Bottles of beer</ion-label>
  <ion-select [(ngModel)]="bottle">
    <ion-select-option *ngFor="let value of bottles">{{value}}</ion-select-option>
  </ion-select>
 </ion-item>
 <ion-item>
  <ion-label>Your promilles:</ion-label>
  <ion-input name="promilles" value="{{ promilles | number : '1.0-2' }}" readonly></ion-input>
 </ion-item>
 <ion-item>
  <ion-button (click)="calculate()">Calculate</ion-button>
 </ion-item>

 
</ion-content>
